[submodule "hw/submodules/ProMicroKiCad"]
	path = hw/submodules/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad
[submodule "hw/submodules/KiCad-SSD1306-128x64"]
	path = hw/submodules/KiCad-SSD1306-128x64
	url = https://github.com/pforrmi/KiCad-SSD1306-128x64
